{% extends "mobile/layout.html" %}

{% block content %}
<form action="{{ login_url }}" method="POST" class="form form-fullsize">
    {% if login_info %}
    <div class="msg error-msg">{{ login_info }}</div>
    {% endif %}
    <div class="control-group">
        <div class="control-label">
            <label for="email">邮箱:</label>
        </div>
        <div class="control">
            <input name="email" type="TEXT" />
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
            <label for="password">密码:</label>
        </div>
        <div class="control">
            <input name="password" type="PASSWORD" />
        </div>
    </div>
    <div class="form-action">
        <button class="btn btn-green btn-bigger" type="submit">登录</button>
        <a href="/account/register" class="btn btn-bigger btn-gray r">注册</a>
        <a href="/weibo/login"class="btn btn-bigger btn-fullsize btn-sns" id="btn-sns-sina">通过新浪微博登录</a> 
        <a href="/qq/login" class="btn btn-bigger btn-fullsize btn-sns" id="btn-sns-tencent">通过QQ登录</a>
        <a href="/douban/login" class="btn btn-bigger btn-fullsize btn-sns" id="btn-sns-douban">通过豆瓣登录</a>
    </div>
</form>
{% endblock %}

{% block subtitle %}登录{% endblock %}
