{% extends "mobile/layout.html" %}

{% block content %}
<div class="user-info">
    <div class="avatar">
        <img src="{{ ('/' + visit_user.avatar) | u_files }}" width="150px" height="150px" />
    </div>
    <div class="info">
        <span class="username">{{ visit_user.name }}</span>
        <span class="email">{{ visit_user.email }}</span>
        <div class="action">
            <a href="/mail/write?to={{ visit_user.id }}">发邮件</a>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
{% endblock %}
