{% extends "mobile/layout.html" %}

{% block content %}
<ul class="app-list">
    <a href="http://library.xiaomen.co/">
        <li class="app library">
            <div class="bgimg"></div>
            <div class="arrow"></div>
            <span class="app-name">图书馆</span>
        </li>
    </a>
    <a href="http://selfstudy.xiaomen.co/">
        <li class="app selfstudy">
            <div class="bgimg"></div>
            <div class="arrow"></div>
            <span class="app-name">自习室</span>
        </li>
    </a>
</ul>
{% endblock %}
