{% extends "mobile/layout.html" %}
{% from "macros.html" import render_mobile_pagination %}

{% block content %}
<div class="mail-nav">
    <span><a href="/mail" class="current">收件箱</a></span>
    <span><a href="/mail/outbox">发件箱</a></span>
</div>
<ul class="maillist">
    {% for mail in mails %}
    <a href="/mail/view/{{ mail.id }}">
        <li class="mail{% if not mail.is_read %} unread{% endif %}">
            {% if not mail.is_read %}
            <span class="r">未读</span>
            {% endif %}
            <span class="mail-title">{{ mail.title }}</span>
            <span class="mail-author">来自: {{ mail.from_uid }}</span>
        </li>
    </a>
    {% endfor %}
</ul>
{{ render_mobile_pagination(list_page, url_for('mail.inbox')) }}
{% endblock %}
