{% extends "mobile/layout.html" %}
{% from "macros.html" import render_mobile_pagination %}

{% block content %}
{% if list_page.items %}
<ul class="maillist">
    {% if msg %}
    <span style="text-align:center">{{ msg }}</span>
    {% endif %}
    {% for topic in topics %}
    <a href="{{ url_for('topic.view', tid = topic.id) }}">
        <li class="mail{% if topic.has_new %} unread{% endif %}">
            {% if topic.has_new %}
            <span class="r">未读</span>
            {% endif %}
            <div class="avatar l">
                <img src="{{ topic.user.avatar | u_files }}" width="60px" height="60px" />
            </div>
            <div class="mail-summary l">
               <span class="mail-title">{{ topic.title }}</span>
               <span class="mail-author">与：{{ topic.user.name }}</span>
           </div>
           <div class="clearfix"></div>
        </li>
    </a>
    {% endfor %}
</ul>

{{ render_mobile_pagination(list_page, url_for('topic.index')) }}
{% else %}
<div class="well no-topic">
    <p>收件箱是空的...</p>
</div>
{% endif %}
{% endblock %}
