{% extends "mobile/layout.html" %}
{% from "macros.html" import render_mobile_pagination %}

{% block content %}
<ul class="maillist">
    {% for topic in topics %}
    <a href="{{ url_for('topic.view', tid = topic.id) }}">
        <li class="mail{% if topic.has_new %} unread{% endif %}">
            {% if topic.has_new %}
            <span class="r">未读</span>
            {% endif %}
            <div class="avatar">
                <img src="{{ topic.user.avatar | u_files }}" width="60px" height="60px" />
            </div>
            <div class="mail-summary">
               <span class="mail-title">{{ topic.title }}</span>
               <span class="mail-author">来自: {{ topic.user.name }}</span>
           </div>
           <div class="clearfix"></div>
        </li>
    </a>
    {% endfor %}
</ul>

{{ render_mobile_pagination(list_page, url_for('topic.index')) }}
{% endblock %}
