
.nav {
    background-color: #3999cc; 
    padding: 10px 25px; 
    margin-top: 30px; 
    text-align: right; 
}

.nav a {
    color: white; 
    text-decoration: none; 
}

.nav .sep {
    color: white; 
    margin: 0 10px; 
}

.nav .sep:after {
    content: '|'; 
}

.wrapper {
    width: 960px; 
    margin: 0 auto; 
}

.footer {
    padding: 5px; 
    margin-top: 40px; 
    text-align: center; 
    border-top: 2px solid #3999cc; 
    font-size: 12px; 
}

.footer a {
    text-decoration: none; 
    color: #999; 
}

.footer a:hover {
    text-decoration: underline; 
}

.footer .sep {
    margin: 0 2px; 
}

.footer .sep:after {
    content: '·'; 
}

.body-wrapper {
    margin: 0 20px; 
}

.header {
    border-bottom: 3px solid #3999cc; 
    margin: 10px 0; 
    padding: 10px 0; 
    margin-bottom: 0px; 
}

.sidebar {
    width: 200px; 
}

.website-nav {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    margin-top: 5px; 
    margin-bottom: 160px; 
}

.website-nav li {
    list-style: none; 
    padding: 20px 10px; 
    border-bottom: 1px solid #3999cc; 
}

.website-nav li a {
    color: #3999cc; 
    text-decoration: none; 
}

.website-nav li:hover a {
    text-decoration: underline; 
}

.website-nav li.active {
    background-color: #3999cc; 
}

.website-nav li.active a {
    color: white; 
}

.site-notice {
    border-top: 2px solid #3999cc; 
    border-bottom: 2px solid #3999cc; 
    padding: 20px 0; 
}

.site-notice p {
    color: #565656; 
    text-indent: 2em; 
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    margin: 5px 0; 
}

.table-content {
    width: 100%; 
}

.content {
    padding: 20px; 
}

.control-group {
    width: 100%;
    margin: 20px;
}

.control-label {
    float: left;
    width: 120px;
    text-align: right;
}

.control-label label {
    font-size: 18px;
    vertical-align: top;
}

.control {
    margin-left: 110px; 
}

.control input {
    background: white;
    border: none;
    outline: none;
    font-size: 18px;
    border-bottom: 1px solid #3999cc; 
}

.control textarea {
    border: none;
    outline: none;
    max-height: 570px;
    min-height: 570px;
    font-size: 18px;
}

.submit-form button, .submit-form a.btn {
    border: none; 
    outline: none; 
    padding: 0; 
    margin: 0; 
    background-color: transparent; 
    font-size: 16px; 
    text-decoration: none; 
    color: white; 
    background-color: #3999cc; 
    padding: 5px 10px; 
    margin: 0 10px; 
    margin-left: 0; 
}                    

.icon {
    margin: 0 5px 0 0;
    background: url(http://sheep-farm.b0.upaiyun.com/account/static/img/oauth.gif); no-repeat scroll 0 0;
    display: inline-block;
    height: 16px;
    width: 16px;
}

.renren {
    background-position: 0 -64px;
}

.douban {
    background-position: 0 -192px;
}

.weibo {
    background-position: 0 0px;
}

.qq{
    background-position: 0 -256px;
}

form legend {
    margin-top: 30px; 
    font-size: 24px; 
    margin-left: 30px; 
    font-weight: bold; 
}

.unread {
    color: white; 
}

.control span {
    line-height: 30px; 
}

.pagination-wrap {
    text-align: center; 
    margin: 20px 0; 
}

.pagination {
    display: inline-block; 
    *display: inline;
    *zoom: 1;
    margin: 0; 
    padding: 0; 
}

.pagination li {
    display: inline; 
    margin: 0; 
    padding: 0; 
    list-style: none; 
}

.pagination li a {
    color: #3B99CD; 
    text-decoration: none; 
    width: 20px; 
    height: 20px; 
    display: inline-block; 
}

.pagination li.disabled a {
    color: #CCC; 
}

.pagination li.active a {
    background: #3999cc; 
    color: white; 
}

.pagination li:hover a {
    text-decoration: underline; 
} 

.sep30 {
    height: 30px; 
}

.emailat:after {
    content:"@"; 
}
