.wrap {
    width: 100%; 
}

.img {
    margin: 20px 0; 
    text-align: center; 
}

.img img {
    width: 60%; 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.img .site-title {
    text-align: center; 
    color: #3999CC; 
    margin-top: 5px; 
}

a {
    color: #3999CC; 
    text-decoration: none; 
}

label {
    font-size: 1.3em; 
    margin: 4px 0; 
    display: block; 
}

form {
    margin: 20px 0; 
}

form input , form textarea {
    border: none; 
    outline: none; 
    background: none; 
    width: 100%; 
    border: 1px solid #3999CC; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px; 
    font-size: 1.5em; 
}

.control {
    padding-right: 21px; 
}

.control-label {
    margin-top: 20px;
}

.control-action {
    margin-top: 30px; 
}

.control-action button, .control-action a.btn {
    border: none; 
    outline: none; 
    background: #3999CC; 
    padding: 15px 30px; 
    color: white; 
    line-height: 18px; 
}

.control-action .register-btn {
    float: right; 
    background-color: #777 !important; 
}

.register-btn:visited {
    color: white; 
}

.error-msg {
    background: #FFEBE8;
    border: 1px solid #DD3C10;
    padding: .5em;
    margin: 1em .5em;
    line-height: 1.6em; 
    padding: .5em .8em;
}

.user-info {
    margin: 20px 0; 
    padding: 0 10px; 
}

.user-info .avatar {
    float: left; 
}

.user-info .info {
    float: left; 
    margin-left: 20px; 
}

.user-info .info .username {
    font-size: 26px;  
    font-weight: bold; 
    display: block; 
    margin-bottom: 20px; 
}

.user-info .info .email {
    background: url('/static/img/email.png') no-repeat 0 3px; 
    padding-left: 20px; 
}

.user-info .info .action {
    margin-top: 10px; 
}

.user-info .info .action a {
    background-color: #3999CC;
    padding: 7px 15px; 
    color: white; 
}

.maillist {
    margin: 0; 
    padding: 0; 
    border-top: 1px solid #3999CC; 
}

.maillist li {
    list-style: none; 
    border-bottom: 1px solid #3999CC; 
}

.maillist a {
    color: black; 
}

.maillist .mail {
    padding: 10px 5px; 
}

.maillist .mail .avatar {
    float: left; 
}

.maillist .mail .mail-summary {
    float: left; 
    margin-left: 10px; 
}

.maillist .mail .mail-title {
    display: block; 
    font-size: 1.2em; 
    color: #666; 
}

.maillist .mail .r {
    float: right; 
    letter-spacing: 0.25em; 
}

.maillist .mail.unread {
    background-color: #E2EFF7;  
}

.maillist .mail.unread .mail-title {
    color: #000; 
    font-weight: bold; 
}

.maillist .mail .mail-author {
    color: #777; 
    margin: 5px 0; 
    display: block; 
}

.mail-nav {
    text-align: right; 
    margin: 10px 0; 
}

.mail-nav a {
    display: inline-block; 
    padding: 10px 20px; 
    background-color: #3999CC; 
    color: white; 
    margin-left: 20px; 
}

.mail-nav a.current {
    background-color: #CCC; 
}

.pagination {
    margin: 20px 0; 
}

.pagination a {
    padding: 10px 20px; 
    color: white; 
    background-color: #3999CC; 
    display: inline-block; 
}

.pagination .next {
    float: right; 
}

.mail-info .mail-title {
    padding: 10px 0; 
    background: #F7F7F7; 
    border-top: 1px solid #3999CC; 
    border-bottom: 1px solid #3999CC; 
    padding-left: 20px; 
}

.mail-info .mail-content {
    padding: 10px 20px; 
    border-bottom: 1px solid #3999CC; 
}

input[readonly] {
    color: #666; 
    background: #F3F3F3; 
}

.app-list {
    margin: 0; 
    padding: 0; 
    margin-top: 30px; 
}

.app-list .app {
    list-style: none; 
    border-top: 1px solid #3999CC;
    border-bottom: 1px solid #3999CC; 
    padding: 30px 0; 
    position: relative; 
    width: auto; 
    margin-bottom: 10px;
}

.app-list .app .arrow {
    float: right; 
    margin-right: 10px; 
    position: relative; 
    z-index: 7; 
}

.app-list .app .arrow:after {
}

.app-list .app .app-name {
    font-weight: bold; 
    padding-left: 30px; 
    font-size: 1.6em; 
    z-index: 6; 
    position: relative; 
}

.app-list a .app .app-name {
    color: white; 
    text-shadow: 0px 0px 10px #333; 
}

.app-list .app .bgimg {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-size: cover; 
    background-position: left center; 
    z-index: 5; 
}

.app-list .app.library .bgimg {
    background-image: url('/static/img/library.jpg'); 
}

.app-list .app.selfstudy .bgimg {
    background-image: url('/static/img/selfstudy.jpg'); 
}

.app-list .app.job .bgimg {
    background-image: url('/static/img/job.jpg'); 
}

.avatar-title {
    color: #3999CC; 
    padding: 0; 
    padding-bottom: 10px; 
    margin: 20px 10px; 
    border-bottom: 1px solid #3999CC; 
    font-weight: normal; 
}

.upload-form {
    margin: 0 10px; 
}

.upload-form .now-avatar {
    float: right; 
}

.upload-form .upload .input-file {
    width: auto; 
    display: block; 
    font-size: 1em; 
    margin-top: 28px; 
}

.ok-msg {
    border: 1px solid #067206;
    background: #BCD6AB;
    padding: 5px 10px; 
}

.mail.right .avatar {
    float: right; 
}

.mail.reply .mail-author {
    margin: 0; 
}

.mail.reply .mail-summary {
    float: none; 
    margin-left: 70px; 
}

.mail.reply.right .mail-summary {
    margin-left: 0px; 
    margin-right: 80px; 
    float: none; 
}

.reply-topic .r {
    float: right; 
    width: 80px; 
    padding-left: 5px; 
}

.reply-topic .l {
    margin-right: 80px; 
}

.reply-topic .l textarea {
    width: auto; 
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    height: 50px; 
}

.btn {
    display: block; 
    padding: 15px 30px;
    line-height: 17px; 
    text-decoration: none; 
    color: white; 
    background-color: #3999CC; 
    border: none;
    outline: none; 
}

.btn:hover {
    text-decoration: none; 
    color: white; 
}

.btn.btn-small {
    padding: 10px 20px; 
}

.btn.btn-gray {
    background-color: #777; 
}

.btn:visited {
    color: white; 
}

.reply-topic .r .btn {
    padding: 0px; 
    height: 70px; 
    width: 100%;
}

.back-btn {
    margin: 10px 0; 
}

.back-btn .btn {
    float: right; 
}

.title {
    margin: 10px; 
    padding: 10px 5px; 
    border-bottom: 1px solid #3999CC; 
    color: #3999CC; 
}

.create-topic {
    margin: 0 10px; 
}
