/* account */

/* => People */

.user-info {
    margin-top: 20px; 
}

.user-info .avatar {
    padding: 0 10px; 
}

.user-info .info {
    margin-left: 10px; 
}

.info .username {
    font-size: 2em; 
}

.info .email {
    display: block; 
    background: url('/account/static/img/email.png') no-repeat 0 3px;
    margin-top: 20px; 
    padding-left: 20px;
}

.info .action {
    margin-top: 20px; 
}

/* topic */

/* => index */

.maillist {
}

.maillist a:hover {
    color: #3999CC; 
}

.maillist .mail {
    padding: 10px 5px; 
    border-bottom: 1px solid #3999CC; 
}

.mail .mail-summary {
    margin-left: 15px; 
}

.mail .mail-title {
    display: block; 
    font-size: 18px; 
}

.mail .mail-author {
    color: #777; 
    display: block; 
}

.unread {
    background-color: #EAF7FF;
}

.unread .mail-title {
    font-weight: bold; 
}

.reply-topic {
    margin: 20px 0; 
}

.reply-topic .control {
    margin-right: 100px; 
}

.reply-topic textarea {
    width: 100%; 
}

.reply-topic .btn {
    height: 68px; 
}

.reply-content {
    overflow: hidden;
    word-break: break-word;
}

.mail-content {
    margin-left: 70px; 
}

.right .mail-content {
    margin-left: 0; 
    margin-right: 70px; 
}

/* Index */

.app-list {
    margin: 0; 
    padding: 0; 
    margin-top: 30px; 
}

.app-list .app {
    list-style: none; 
    border-top: 1px solid #3999CC;
    border-bottom: 1px solid #3999CC; 
    padding: 30px 0; 
    position: relative; 
    width: auto; 
    margin-bottom: 10px;
}

.app-list .app .app-name {
    font-weight: bold; 
    padding-left: 30px; 
    font-size: 1.6em; 
    z-index: 6; 
    position: relative; 
}

.app-list a .app .app-name {
    color: white; 
    text-shadow: 0px 0px 10px #333; 
}

.app-list .app .bgimg {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-size: cover; 
    background-position: left center; 
    z-index: 5; 
}

.app-list .app.library .bgimg {
    background-image: url('/account/static/img/library.jpg'); 
}

.app-list .app.selfstudy .bgimg {
    background-image: url('/account/static/img/selfstudy.jpg'); 
}

.app-list .app.job .bgimg {
    background-image: url('/account/static/img/job.jpg'); 
}

.title-nounderline {
    border-bottom: none; 
}

.btn-sns {
    text-align: center; 
}

#btn-sns-sina {
    background: url('/static/img/weibo_logo.svg') #e8202f no-repeat;
    background-size: 40px;
    background-position: 15px 7px; 
}

#btn-sns-tencent {
    background: url('/static/img/QQ_logo.png') #007fcc no-repeat; 
    background-size: 40px;
    background-position: 15px 7px; 
}

#btn-sns-douban {
    background: url('/static/img/douban_logo.png') #007711 no-repeat; 
    background-size: 40px; 
    background-position: 15px 7px; 
}
