.welcome-table {
    width: 100%; 
}

.welcome-table td {
    width: 50%; 
    padding: 0 10px; 
}

.last {
    margin-left: 40px; 
}

.site-title td {
    font-size: 25px; 
}

.site-title td a {
    color: black; 
    text-decoration: none; 
}

.site-picture td {
    opacity: 0.95; 
}

.site-picture td:hover {
    opacity: 1;
}
