/*
 * @author: lepture
 * @background: #FFFFFF
 * @frontground: #FFFFFF
 * @textcolor: #FFFFFF
 */

h1,h2,h3{
    padding: 0;
    margin: 0;
}
a {
    text-decoration:none;
}
body {
    color: #000000;
    margin: 0;
    padding: 0;
    font: 12px Arial,Helvetica,sans-serif;
    line-height: 162%;
}
div, dt, dd {
    margin: 0;
    padding: 3px 7px;
}
dl {
    margin: 0;
    padding: 0;
}
dd {
    border-bottom: 1px solid #ccc;
}
#header {
    background-color: #006491;
    border-bottom: 1px solid transparent;
    color: #FFFFFF;
}
#nav {
    background-color: #41a5eb;
    color: #FFFFFF;
}
#search {
    border-bottom: 1px solid #ccc;
    font-size: .5em;
}
.hl {
    font-weight: bold;
}
