{% extends "layout.html" %}

{%block content %}
<form>
    <div class="control-group">
        <div class="control-label">
            <label>昵称</label>
        </div>
        <div class="control">
            <span>{{ visit_user.name }}</span>
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
            <label for="domain">邮箱</label>
        </div>
        <div class="control">
            <span>{{ visit_user.email | replace('@', '<i class="emailat"></i>' | safe )}}</span
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
            <label>&nbsp;</label>
        </div>
        <div class="control submit-form">
            <a href="/mail/write?to={{ visit_user.id }}" class="btn">发邮件</a>
            {% if g.current_user and g.current_user.id == visit_user.id %}
            <a href="{{ url_for('account.setting') }}" class="btn">设置</a>
            <a href="{{ url_for('account.logout') }}" class="btn">登出</a>
            {% endif %}
        </div>
    </div>
</form>
{% endblock %}
