{% extends "layout.html" %}

{% block content %}
<form action="{{ login_url }}" method="POST">
    <legend>欢迎回到校门口</legend>
    {% if login_info %}
    <div class="forget-msg">
        <p>{{ login_info }}</p>
    </div>
    {% endif %}
    <div class="control-group">
        <div class="control-label">
            <label>邮箱</label>
        </div>
        <div class="control">
            <input name="email" type="text" />
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
            <label>密码</label>
        </div>
        <div class="control">
            <input name="password" type="password" />
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
            <label>&nbsp; </label>
        </div>
        <div class="control submit-form">
            <button type="submit">登录</button>
            <a href="/weibo/login"><i class="icon weibo"></i></a>
            <a href="/douban/login"><i class="icon douban"></i></a>
            <a href="/renren/login"><i class="icon renren"></i></a>
            <a href="/qq/login"><i class="icon qq"></i></a>
        </div>
    </div>
</form>
{% endblock %}
