{% extends "index.html" %}

{% block content %}
{% if not send %}
<form action="{{ url_for('account.forget') }}" method="POST">
    <legend>重设密码</legend>
    {% if error %}
    <div class="forget-msg error">
        <p>{{ error }}</p>
    </div>
    {% endif %}
    <div class="control-group">
        <div class="control-label">
            <label>邮箱</label>
        </div>
        <div class="control">
            <input name="email" type="text" />
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
            <label>&nbsp; </label>
        </div>
        <div class="control submit-form">
            <button type="submit">重设密码</button>
        </div>
    </div>
</form>
{% else %}
<form>
    <legend>重设密码</legend>
    <div class="forget-msg">
        <p>请到您的邮箱查阅邮件，从邮件重设你的密码。</p>
    </div>
</form>
{% endif %}
{% endblock %}
