{% if not logout %}
<form action="/Account/Login" method="post">
<input type="text" size="20" tabindex='1' value="" name="email">
<input type="password" size="20" tabindex='2'  value=""  name="password">
<button type="submit" tabindex='3'>登录</button>
<br />
<a href="/weibo/login"><img src="{{'/static/img/sina.png'|s_files }}" /></a>
<a href="/douban/login"><img src="{{'/static/img/douban.png'|s_files }}" /></a>
<a href="/renren/login"><img src="{{'/static/img/renren.png'|s_files }}" /></a>
<a href="/qq/login"><img src="{{'/static/img/qq.png'|s_files }}" /></a>
<br />
{% endif %}
{{ logout | safe }}
<br />
<table>
{% for key in values %}
<tr>
    <td>{{ key }}</td>
    <td>{{ values[key] }}</td>
</tr>
{% endfor %}
</table>
