<!DOCTYPE html>
<html>
<head>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, minimum-scale=1, user-scalable=0">
    <meta charset="UTF-8" />
    <title>{% block title %}校门口{% endblock %}</title>
    <link rel="stylesheet" href="{{'/static/css/reset.css'|s_files }}" />
    <link rel="stylesheet" href="{{'/static/css/base.css'|s_files }}" />
    <link rel="stylesheet" href="{{'/static/css/style.css'|s_files }}" />
    <script src="{{ '/static/js/jquery-1.7.2.min.js' | s_files }}" type="text/javascript"></script>
    <script type="text/javascript">$(document).ready(function(){$(".pagination li.disabled").click(function(e) {return false;});});</script>
</head>
<body>
<div class="wrapper">
    <div class="nav">
        {% if not g.current_user %}
        <span><a href="{{ url_for('account.login') }}">登录</a></span>
        <span class="sep"></span>
        <span><a href="{{ url_for('account.register') }}">注册</a></span>
        {% else %}
        <span>
            {% if g.current_user.domain %}
            <a href="{{ url_for('people.show_people', username=g.current_user.domain) }}">{{ g.current_user.name }}</a>
            {% else %}
            <a href="{{ url_for('people.show_people', username=g.current_user.id)}}">{{ g.current_user.name }}</a>
            {% endif %}
        </span>
        <span class="sep"></span>
        <span><a href="{{ url_for('mail.index') }}">邮件</a>{% if g.topic_notify() %}<span class="unread"><sup>[*]</sup></span>{% endif %}</span>
        <span class="sep"></span>
        <span><a href="{{ url_for('account.logout') }}">登出</a></span>
        {% endif %}
    </div>
    <div class="body-wrapper">
        <div class="header">
            <div class="logo">
                <a href="/">
                    <img src="{{'/static/img/logo.png' | s_files}}" />
                </a>
            </div>
        </div>
        <div class="body-content">
            <table class="table-content" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="sidebar">{% include 'sidebar.html' %}</td>
                    <td class="content">{% block content %}{% endblock %}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="footer">
        <span><a href="/about">关于校门口</a></span>
        <span class="sep"></span>
        <span><a href="/contact">联系我们</a></span>
        <span class="sep"></span>
        <span><a href="/duty">免责声明</a></span>
        <span class="sep"></span>
        <span><a href="/report">反馈</a></span>
    </div>
</div>
</body>
</html>
