<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, minimum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="{{'/static/css/style.css'|s_files }}" />
    <title>{%block title%}Doorway{% endblock %}</title>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            {%block header%}
            <h1>校门口</h1>
            {% endblock %}
        </div>

        <ul id="nav" class="clearfix">
            {%block nav %}
            <li><a href="#">首页</a></li>
            <li class="select"><a href="#">图书馆</a></li>
            <li><a href="#">自习室</a></li>
            {% endblock %}
        </ul>
        <div id="section">
            {%block content %}
            <div id="search">
                <input id="q" type="text" name="q" value="" placeholder="用户关键字">
                <span id="submit">搜书</span>
            </div>
            <ul id="result">
                <li>
                    <h2><a href="#">书名1</a></h2>
                    <div>索书号 / 作者 / 出版社 / 出版年月</div>
                </li>
                <li>
                    <h2><a href="#">书名2</a></h2>
                    <div>索书号 / 作者 / 出版社 / 出版年月</div>
                </li>
                <li>
                    <h2><a href="#">书名3</a></h2>
                    <div>索书号 / 作者 / 出版社 / 出版年月</div>
                </li>
            </ul>
            {% endblock %}
        </div>
        <div id="footer">
            {% block footer%}
            <a href="#" title="反馈">反馈</a> | 2012 • 校门口
            {% endblock %}
        </div>
    </div>
</body>
</html>
