{% extends "index.html" %}

{%block content %}
<div class="mail-nav">
    <span><a href="/mail">收件箱</a></span>
    <span class="sep"></span>
    <span><a href="/mail/outbox">发件箱</a></span>
</div>
<form class="mail">
    <div class="control-group">
        <div class="control-label">
            <label>来自:</label>
        </div>
        <div class="control">
            <span><a href="/people/{{ mail.from_uid_url }}">{{ mail.from_uid }}</a></span>
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
            <label>标题:</label>
        </div>
        <div class="control">
            <span><b>{{ mail.title }}</b></span>
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
            <label>正文:</label>
        </div>
        <div class="control">
            {{ mail.content | replace('<', '&lt;') | replace('>', '&gt;') | replace('\n', '<br />') | safe }}
        </div>
    </div>
    <div class="sep30"></div>
    <div class="control-group">
        <div class="control-label">
            <label>&nbsp;</label>
        </div>
        <div class="control submit-form">
            {% if reply %}
            <a href="/mail/write?reply={{ mail.id }}" class="btn">回复</a>
            {% endif %}
            <a href="/mail/delete/{{ mail.delete }}" class="btn">删除</a>
        </div>
    </div>
</form>
{% endblock %}
