{% extends "index.html" %}
{% from "macros.html" import render_pagination %}

{%block content %}
<div class="mail-nav">
    <span><a href="/mail" class="current">收件箱</a></span>
    <span class="sep"></span>
    <span><a href="/mail/outbox">发件箱</a></span>
</div>
<table class="mailbox">
    <tr>
        <th style="width:30%">发件人</th>
        <th>标题</th>
    </tr>
    {% for mail in mails %}
    <tr>
        <td><a href="/people/{{ mail.from_uid_url }}">{{ mail.from_uid }}</a></td>
        <td>{% if not mail.is_read %}<span class="new">&gt;&nbsp;</span>{% endif %}<a href="/mail/view/{{ mail.id }}">{{ mail.title }}</a></td>
    </tr>
    {% endfor %}
</table>
{{ render_pagination(list_page, url_for('mail.outbox')) }}
{% endblock %}
