{% extends "index.html" %}

{%block content %}
<table>
    <tr>
        <td>发件人</td>
        <td>标题</td>
        <td></td>
    </tr>
    {% for mail in mails %}
    <tr>
        <td><a href="/people/{{ mail.from_uid_url }}">{{ mail.from_uid }}</a></td>
        <td><a href="/mail/view/{{ mail.id }}">{{ mail.title }}</a></td>
        <td>
            {% if not mail.is_read %}new{% endif %}
        </td>
    </tr>
    {% endfor %}
<table>
<p><a href="/mail/">收件箱</a></p>
<p><a href="/mail/outbox">发件箱</a></p>
{% endblock %}
