{% extends "layout.html" %}

{% block content %}
<div class="noie-wrap">
    <h2 style="text-align: center">抱歉，您的浏览器的版本太低了</h2>
    <h5 style="font-weight: normal; ">请升级您的浏览器至最新版本，或选用以下浏览器</h5>
    <table class="browser">
        <tr>
            <td><a href="http://windows.microsoft.com/zh-CN/internet-explorer/products/ie/home" class="ie">IE9</a></td>
            <td><a href="http://www.mozilla.com/firefox/" class="fx">Firefox</a></td>
            <td><a href="http://www.google.cn/chrome/" class="cr">Chrome</a></td>
            <td><a href="http://www.apple.com.cn/safari/" class="sf">Safari</a></td>
        </tr>
    </table>
    <h5 style="font-weight: normal; ">如果您使用的是如下的浏览器，请开启高速模式再尝试访问本站</h5>
    <table class="browser">
        <tr>
            <td><a href="http://chrome.360.cn/" class="b360">360极速</a></td>
            <td><a href="http://www.maxthon.cn/" class="mt">遨游</a></td>
            <td><a href="http://browser.qq.com/" class="qq">QQ浏览器</a></td>
            <td><a href="http://ie.sogou.com/" class="sg">搜狗高速浏览器</a></td>
        </tr>
    </table>
</div>
<style type="text/css">
.browser {
    width: 100%; 
}
.browser tr td {
    width: 25%; 
    text-align: center; 
}
.browser td a {
    display: block; 
    width: 85px;
    padding: 70px 0 0 0;
    background: url({{ '/static/img/browsers.jpg' | s_files }}) no-repeat center 0;
    color: black;
    text-align: center;
    margin: 0 auto; 
    text-decoration: none; 
    font-size: 12px; 
}
.browser td a:hover {
    text-decoration: underline; 
}
.browser td a.ie {
    background-position: center -270px;
}
.browser td a.fx {
    background-position: center -90px;
}
.browser td a.sf {
    background-position: center -180px;
}
.browser td a.b360 {
    background-position: center -374px;
}
.browser td a.mt {
    background-position: center -472px;
}
.browser td a.qq {
    background-position: center -572px;
}
.browser td a.sg {
    background-position: center -677px;
}
</style>
{% endblock %}
