{% extends "layout.html" %}

{% block content %}
<style type="text/css">
.dui-mask {
    background: rgba(127,  127,  127,  0.5); 
    background: -webkit-gradient(radial, 50% 50%, 250, 50% 50%, 800, from(rgba(127,  127,  127,  0.5)), to(rgba(0,  0,  0,  0.7))); 
    background: -webkit-radial-gradient(rgba(127,  127,  127,  0.5), rgba(127,  127,  127,  0.5) 35%, rgba(0,  0,  0,  0.7)); 
    background: -moz-radial-gradient(rgba(127,  127,  127,  0.5), rgba(127,  127,  127,  0.5) 35%, rgba(0,  0,  0,  0.7)); 
    background: -o-radial-gradient(rgba(127,  127,  127,  0.5), rgba(127,  127,  127,  0.5) 35%, rgba(0,  0,  0,  0.7)); 
    background: -ms-radial-gradient(rgba(127,  127,  127,  0.5), rgba(127,  127,  127,  0.5) 35%, rgba(0,  0,  0,  0.7)); 
    z-index: 5999; 
}
.noie-tip {
    position: fixed; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0; 
    overflow: auto;
}
.tip-wrap {
    width: 480px; 
    top: 50%; 
    left: 50%; 
    margin-left: -240px; 
    margin-top: -160px; 
    background: white; 
    z-index: 6000; 
    position: fixed;  
}
.tip-wrap p {
    text-align: center; 
}
.tip-wrap p a {
    color: #3999CC; 
    text-decoration: none; 
    margin: 0 10px; 
}
</style>
<div class="dui-mask" style="width:100%; height: 100%; position: fixed; top: 0; left: 0;">
</div>
<div class="noie-tip" class="display: block; z-index: 6000; ">
    <div class="tip-wrap" style="padding: 10px">
        <h2 align="center">您的浏览器太老啦！</h2>
        <h5 align="center" style="font-weight: normal">请更新您的浏览器或启用浏览器高速模式</h5>
        <h5 style="font-weight: normal; padding: 0 10px; ">或者使用以下的浏览器：</h5>
        <p>
            <a href="http://windows.microsoft.com/zh-CN/internet-explorer/products/ie/home">IE9</a>
            <a href="http://www.mozilla.com/firefox/">Firefox</a>
            <a href="http://www.google.cn/chrome/">Google Chrome</a>
            <a href="http://www.apple.com.cn/safari/">Safari</a>
        </p>
    </div>
</div>
{% endblock %}
