{% extends "layout.html" %}

{%block nav %}
    <li class="select"><a href="http://xiaomen.co">首页</a></li>
    <li><a href="http://library.xiaomen.co">图书馆</a></li>
    <li><a href="http://selfstudy.xiaomen.co/hnu">自习室</a></li>
{% endblock %}

{%block content %}
    <div>
        <p><span>Name {{ visit_user.name }}</span></p>
        <p><span>E-mail {{ visit_user.email }}</span></p>
        <p><span><a href="/mail/write?to={{ visit_user.id }}">发邮件</a></span></p>
        {% if g.current_user and g.current_user.id == visit_user.id %}
        <p><a href="{{ url_for('account.setting') }}">设置</a></p>
        <p><a href="{{ url_for('account.logout') }}">登出</a></p>
        {% endif %}
    </div>
{% endblock %}
