{% extends "index.html" %}

{%block content %}
<form action="/account/register" method="post">
    <legend>欢迎加入校门口</legend>
    {% if login_info %}
    <div class="login-info">
        <p>{{ login_info }}</p>
    </div>
    {% endif %}
    <div class="control-group">
        <div class="control-label">
            <label>邮箱</label>
        </div>
        <div class="control">
            <input name="email" type="text" />
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
            <label>密码</label>
        </div>
        <div class="control">
            <input name="password" type="password" />
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
            <label>昵称</label>
        </div>
        <div class="control">
            <input name="name" type="text" />
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
            <label>&nbsp; </label>
        </div>
        <div class="control submit-form">
            <button type="submit">注册</button>
        </div>
    </div>
</form>
{% if error %}
<span>{{ error }}</span>
{% endif %}
{% endblock %}
